---
const { imgSrc, imgAlt, headerTitle, desc, src, type, ...props } = Astro.props;
---

<div class="music-item">
  <img src={imgSrc} alt={imgAlt} loading="lazy" />
  <div class="music-details">
    <h2>
      {headerTitle}
    </h2>
    <p>{desc}</p>
    <audio controls>
      <source src={src} type={type} />
      مرورگر شما از پخش فایل صوتی پشتیبانی نمی‌کند.
    </audio>
  </div>
</div>
